.card {
    margin-top: 20px;
    width: 18rem;
}

.btn {
    max-width: fit-content;
    padding: 10px;
    margin: 10px auto;
}

.card-text {
    max-height: 150px;
    margin: 20px;
    font-size: small;
}

@media (max-width: 576px) {
    .card {
      width: 100%;
      margin: 0;
    }
  }
  